<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Cuidad</th>
      <th>Pisos</th>
      <th>Fecha de Venta</th>
    </tr>
  </thead>
  <tbody>
    <% casasArr.forEach(function(casa) { %>
    <tr>
      <th><%= casa.cuidad %></th>
      <th><%= casa.pisos%></th>
      <th><%= casa.fechadeventa%></th>
    </tr>
    <% }); %>
  </tbody>
</table>
